<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box">
    </div>
    <div class="pcoded-container navbar-wrapper">
  
      <div class="pcoded-content">
        <div class="page-header card">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <div class="page-header-title">
                <div class="d-inline">
                  <h5>Locate Dealer
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                  <li class="breadcrumb-item">
                    <a routerLink='/dashboard'>
                      <i class="feather icon-home">
                      </i>
                    </a>
                  </li>
                  <li class="breadcrumb-item">
                    <a routerLink='/color'>Color
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-header card">
          <div class="">
  
            <div class="card">
  
              
              <div class="card-block" id="tableimg">
                <div class="dt-responsive table-responsive">
                  <table id="multi-colum-dt" class="table table-striped table-bordered nowrap">
                    <thead>
                      <tr>
                        <!-- <th>Id</th> -->
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                        <!-- <td>{{colors._id}}</td> -->
                        <td>
                        </td>
                        <!-- to style the background color as per the colorcode                       -->
                        <td>
                          </td>
  
                          <td>
                            </td>
                            <td>
                              </td>
                        <td>
                          <button type="button" 
                            class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float: none;">
                            <span class="icofont icofont-ui-edit">
                            </span>
                          </button>
                          <button type="button" 
                            class="tabledit-edit-button btn btn-primary waves-effect waves-light waves-effect"
                            style="float: none;" data-toggle="modal" data-target="#default-Modal">
                            <i class="icofont icofont-ui-delete">
                            </i>
                          </button>
                          
                          <div class="modal fade" id="default-Modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-sm" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body text-center">
                                  <h4>Do you want to delete?
                                  </h4>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">No
                                  </button>
                                  <button type="button"  data-dismiss="modal"
                                    class="btn btn-primary waves-effect waves-light ">Yes
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  