<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box">
    </div>
    <div class="pcoded-container navbar-wrapper">
  
      <div class="pcoded-content">
        <div class="page-header card">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <div class="page-header-title">
  
                <div class="d-inline">
                  <h5>Contact Us</h5>
  
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="page-header-breadcrumb">
                  <!-- <div class="search">
                      Search:
                      <input type="text" [(ngModel)]="queryString" placeholder="Search Employee">
                    </div> -->
                <ul class=" breadcrumb breadcrumb-title">
                  <li class="breadcrumb-item">
                    <a routerLink='/dashboard'><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item"><a routerLink='/contactus'>Contact Us</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-header card">
          <div class="">
            <div class="card">
              <div class="card-block">
                <div class="dt-responsive table-responsive">
                  <table id="multi-colum-dt" class="table table-striped table-bordered nowrap">
                    <thead>
                      <tr>
                        <!-- <th>Id</th> -->
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Phone number</th>
                        <th>Message</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let contactUs of contactdata">
                        <!-- <td>{{contactUs._id}}</td> -->
                        <td>{{contactUs.name}}</td>
                        <td>{{contactUs.email}}</td>
                        <td>{{contactUs.phoneNumber}}</td>
                        <td>{{contactUs.message}}</td>
                        <td><button type="button" (click)="deleteContactUsId(contactUs._id)"
                            class="tabledit-edit-button btn btn-primary waves-effect waves-light waves-effect"
                            style="float: none;" data-toggle="modal" data-target="#default-Modal">
                            <i class="icofont icofont-ui-delete"></i></button>
      
                          <div class="modal fade" id="default-Modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-sm" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body text-center">
  
                                  <h4>Do you want to delete?</h4>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" data-dismiss="modal" class="btn btn-default waves-effect">No</button>
                                  <button type="button" (click)="deleteContactUs()" data-dismiss="modal" class="btn btn-primary waves-effect waves-light ">Yes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr> 
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="default-Modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Static Modal</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem impus dolorsit.onsectetur adipiscing</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary waves-effect waves-light ">Save changes</button>
        </div>
      </div>
    </div>
  </div>