<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box">
  </div>
  <div class="pcoded-content">
    <div class="page-header card">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="page-header-title">
            <div class="d-inline">
              <h5>Edit Color</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="page-header-breadcrumb">
            <ul class=" breadcrumb breadcrumb-title">
              <li class="breadcrumb-item">             
                  <a routerLink='/dashboard'><i class="feather icon-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a routerLink='/colorshade'>Color Shade</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <div class="page-header card">
      <div class="">

        <div class="card">
          <!-- <div class="card-block" id="addcolor" *ngFor="let editcolors of editcolordata"> -->
          <div class="card-block" id="addcolor">
            <form [formGroup]="editColorForm">

<!-- Id of the color -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Id</label>
                <div class="col-sm-10">
                  <input type="text" value="{{editcolordata[0]._id}}" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" #colid>
                  <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">It is required</div>
                        </div> -->
                </div>
              </div>

<!-- Name of the color -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name of the color</label>
                <div class="col-sm-10">
                  <input type="text" value="{{editcolordata[0].name}}" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" #colname>
                  <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">It is required</div>
                  </div> -->
                </div>
              </div>

<!-- IMAGE GENERATED ACCORORDING TO COLOR CODE -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Image of the color</label>
                <div class="col-sm-10">
                  <img src="/assets/img/img.jpg" class="img-fluid">
                </div>
              </div>

<!-- COLOR CODE -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Color Code</label>
                <div class="col-sm-10">
                  <input type="text" value="{{editcolordata[0].colorCode}}" id="default-value" class="form-control demo"
                    [ngClass]="{ 'is-invalid': submitted && f.colorCode.errors }" #colcode>
                  <!-- <div *ngIf="submitted && f.colorCode.errors" class="invalid-feedback">
                  <div *ngIf="f.colorCode.errors.required">It is required</div>
                </div> -->
                </div>
              </div>
            </form>

<!-- BUTTONS -->
            <div class="row">
              <div class="col-sm-2">&nbsp;</div>
              <div class="text-left col-sm-10">
                <button (click)="updateColor(colid.value,colname.value,colcode.value)"
                  class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float: none;">Edit
                  color</button>
                <button type="button"
                  class="tabledit-edit-button btn btn-secondry waves-effect waves-light waves-effect"
                  style="float: none;">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="default-Modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Static Modal</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem impus dolorsit.onsectetur adipiscing</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
        <button (click)="updateColor(colid.value,colname.value,colcode.value)" type="button"
          class="btn btn-primary waves-effect waves-light ">Save changes</button>
      </div>
    </div>
  </div>
</div>