<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box">
  </div>
  <div class="pcoded-container navbar-wrapper">
        <div class="pcoded-content">
          <div class="page-header card">
<div class="row align-items-center">
<div class="col-lg-8">
<div class="page-header-title">

<div class="d-inline">
<h5>CMS Pages</h5>

</div>
</div>
</div>
<div class="col-lg-4">
<div class="page-header-breadcrumb">
<ul class=" breadcrumb breadcrumb-title">
<li class="breadcrumb-item">

<a routerLink='/dashboard'><i class="feather icon-home"></i></a>
</li>
<li class="breadcrumb-item"><a routerLink='/cmspages'>CMS Pages</a> </li>
</ul>
</div>
</div>
</div>
</div>
          <div class="page-header card">
            <div class="">
<!-- <div class="card-header">

</div> -->


<div class="card">
<!-- <div class="card-header">

</div> -->


<div class="card-block">
<div class="dt-responsive table-responsive">
<table  id="simpletable" class="table table-striped table-bordered nowrap">
<thead>
<tr>
<th>Id</th>
<th>Name</th>
<th>Details</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>About us</td>
<td>abc</td>
<td><a href="CMS-Pages-editor.html"><button type="button" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float: none;"><span class="icofont icofont-ui-edit"></span> </button> </a>

</td>
</tr>
<tr>
<td>2</td>
<td>Contact us</td>
<td>abc</td>
<td><a href="CMS-Pages-editor.html"><button type="button" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float: none;"><span class="icofont icofont-ui-edit"></span> </button> </a>

</td>
</tr>
<tr>
<td>3</td>
<td>Privacy Policy</td>
<td>abc</td>
<td><a href="CMS-Pages-editor.html"><button type="button" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float: none;"><span class="icofont icofont-ui-edit"></span> </button> </a>

</td>
</tr>
<tr>
<td>4</td>
<td>Terms and conditions</td>
<td>abc</td>
<td><a href="CMS-Pages-editor.html"><button type="button" class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float: none;"><span class="icofont icofont-ui-edit"></span> </button> </a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="default-Modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title">Modal title</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
<div class="modal-body">
<h5>Static Modal</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem impus dolorsit.onsectetur adipiscing</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary waves-effect waves-light ">Save changes</button>
</div>
</div>
</div>
</div>