<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box">
  </div>
  <div class="pcoded-container navbar-wrapper">
        <!-- BODY -->
        <div  class="pcoded-content">
          <div class="page-header card">
            <div class="row align-items-end">
              <div class="col-lg-8">
                <div class="page-header-title">
                  <div class="d-inline">
                    <h5>Dashboard</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                  <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                      <a routerLink='/dashboard'><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a routerLink='/dashboard'>Dashboard</a> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="page-header card text-center">
<!-- USING *ngIf to fetch data and bind -->
          <div *ngIf="dashboard" class="row align-items-end">
              <div class="col-xl-3 col-md-6">
                <div class="card prod-p-card card-red">
                  <div class="card-body">
                    <div class="row align-items-center ">
                      <div class="col">
                        <h6 class="m-b-5 text-white">Color
                        </h6>
                        <h3 class="m-b-0 f-w-700 text-white">{{dashboard.data.color}}
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 text-center">
                <div class="card prod-p-card card-blue">
                  <div class="card-body">
                    <div class="row align-items-center ">
                      <div class="col">
                        <h6 class="m-b-5 text-white">Color Shade
                        </h6>
                        <h3 class="m-b-0 f-w-700  text-white">{{dashboard.data.colorShade}}
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 text-center">
                <div class="card prod-p-card card-green">
                  <div class="card-body">
                    <div class="row align-items-center ">
                      <div class="col">
                        <h6 class="m-b-5 text-white">Contact Us
                        </h6>
                        <h3 class="m-b-0 f-w-700 text-white">{{dashboard.data.contactUs}}
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 text-center">
                <div class="card prod-p-card card-yellow">
                  <div class="card-body">
                    <div class="row align-items-center ">
                      <div class="col">
                        <h6 class="m-b-5 text-white">Customer Details
                        </h6>
                        <h3 class="m-b-0 f-w-700 text-white">{{dashboard.data.customerDetails}}
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 text-center">
                  <div class="card prod-p-card card-yellow">
                    <div class="card-body">
                      <div class="row align-items-center ">
                        <div class="col">
                          <h6 class="m-b-5 text-white">Service Request
                          </h6>
                          <h3 class="m-b-0 f-w-700 text-white">{{dashboard.data.serviceRequest}}
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
  </div>
</div>

