<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box">
  </div>
  <div class="pcoded-container navbar-wrapper">

    <div class="pcoded-content">
      <div class="page-header card">
        <div class="row align-items-end">
          <div class="col-lg-8">
            <div class="page-header-title">
              <div class="d-inline">
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="page-header-breadcrumb">
              <ul class=" breadcrumb breadcrumb-title">
                <li class="breadcrumb-item">
                  <a routerLink='/dashboard'><i class="feather icon-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#"><i class="feather icon-user"></i></a>
                </li>
                <li class="breadcrumb-item"><a routerLink='/changepassword'>Change Password</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-header card text-center">
        <div class="row">
          <div class="col-sm-12">

<!-- FORM -->
            <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()" class="md-float-material form-material">

              <div class="auth-box card">
                <div class="card-block">
                  <div class="row">

                    <div class="col-sm-3 card-block border m-auto">
                      <h4 class="text-center" style="padding-bottom: 10px;">Change password</h4> 
<!-- OLD PASSWORD -->
                      <div class="form-group form-primary">
                        <input type="text" formControlName="oldPassword" class="form-control"
                          [(ngModel)]=admin.oldPassword
                          [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                        <span class="form-bar"></span>                    
                        <label class="float-label">Old password </label>                     
                        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.oldPassword.errors.required">It is required</div>
                        </div>
                      </div>

                      <!-- <div>
                        <label>test </label>                     
                        <input type="text" formControlName="test"/>
                          <div *ngIf="test.touched && test.invalid">It is required</div>
                        </div> -->
                      
<!-- NEW PASSWORD -->
                      <div class="form-group form-primary">
                        <input type="text" formControlName="newPassword" class="form-control"
                          [(ngModel)]= admin.newPassword
                          [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                        <span class="form-bar">
                        </span>
                        <label class="float-label">New password</label>                        
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.newPassword.errors.required">It is required</div>
                        </div>
                      </div>
<!-- CONFIRM PASSWORD -->
                      <div class="form-group form-primary">
                        <input type="text" formControlName="confirmPassword" class="form-control"
                          [(ngModel)]= admin.confirmPassword
                          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <span class="form-bar">
                        </span>
                        <label class="float-label">Confirm password
                        </label>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.confirmPassword.errors.required">It is required</div>
                          <div *ngIf="f.confirmPassword.errors.MatchPassword">Password didn't match</div>
                        </div>
                      </div>
<!-- UPDATE BUTTON -->
                      <button (click)="updatePassword()" type="button"
                        class="btn btn-primary waves-effect text-center m-b-20">Update
                      </button>
                      <button type="button" class="btn btn-secondry waves-effect text-center m-b-20">Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>