<div class="theme-loader">
  <div class="loader-track">
    <div class="preloader-wrapper">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle">
          </div>
        </div>
        <div class="gap-patch">
          <div class="circle">
          </div>
        </div>
        <div class="circle-clipper right">
          <div class="circle">
          </div>
        </div>
      </div>
      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle">
          </div>
        </div>
        <div class="gap-patch">
          <div class="circle">
          </div>
        </div>
        <div class="circle-clipper right">
          <div class="circle">
          </div>
        </div>
      </div>
      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle">
          </div>
        </div>
        <div class="gap-patch">
          <div class="circle">
          </div>
        </div>
        <div class="circle-clipper right">
          <div class="circle">
          </div>
        </div>
      </div>
      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle">
          </div>
        </div>
        <div class="gap-patch">
          <div class="circle">
          </div>
        </div>
        <div class="circle-clipper right">
          <div class="circle">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="login-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="md-float-material form-material">
          <div class="text-center">
            <img src="assets/img/logo.png" alt="logo.png" width="250" height="auto">
          </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign In</h3>
                </div>
              </div>
              <!-- USERNAME -->
              <div class="form-group form-primary">
                <input type="text" formControlName="username" class="form-control" required=""
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <span class="form-bar">
                </span>
                <label class="float-label">Username</label>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
              </div>
              <!-- PASSWORD -->
              <div class="form-group  form-primary">
                <!-- <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false"> -->
                <input type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <!-- </show-hide-password> -->
                <span class="form-bar">
                </span>
                <label class="float-label">Password</label>

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>


              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary">
                        </i>
                      </span>
                      <span class="text-inverse">Remember me
                      </span>
                    </label>
                  </div>

                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <!-- <a href="Dashboard.html"> -->
                  <button type="submit"
                    class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN             </button>
                  <!-- </a> -->
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>