<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box">
  </div>
  <div class="pcoded-content">
    <div class="page-header card">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="page-header-title">

            <div class="d-inline">
              <h5>Add Color Shade</h5>

            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="page-header-breadcrumb">
            <ul class=" breadcrumb breadcrumb-title">
              <li class="breadcrumb-item">

                <a routerLink='/dashboard'><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">

                <a routerLink='/colorshade'>Color</a>
              </li>
              <li class="breadcrumb-item"><a routerLink='/colorshade/addcolorshade'>Add Color</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="page-header card">
      <div class="">
        <!-- <div class="card-header">

</div> -->


        <div class="card">
          <!-- <div class="card-header">

</div> -->

          <div class="card-block" id="addcolorshade">
            <form [formGroup]="addColorShadeForm">

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Choose the color name</label>
                <div class="col-sm-10" >
                    <!-- <select [(ngModel)]="car.colour"">
                        <option *ngFor="let x of colours" [value]="x.id" [selected]="car.color.id == x.id">{{x.name}}</option>
                    </select> -->
                  <select name="select" [(ngModel)]="colors" class="form-control fill" [ngModelOptions]="{standalone: true}" (change)="($event.target.value)" #colorid>
                    <option [ngValue]="undefined">Please select any color</option>
                    <option *ngFor="let colors of colorsdata" [value]="colors._id" [selected]="colors.id == colors._id">{{colors.name}}</option>
                  </select>
                </div>
              </div>
    
<!-- NAME OF THE SHADE -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name of the Shade</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="shadename" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.shadename.errors }" #shadename>
                  <div *ngIf="submitted && f.shadename.errors" class="invalid-feedback">
                    <div *ngIf="f.shadename.errors.required">It is required</div>
                  </div>
                </div>
              </div>
<!-- IMAGE OF THE SHADE -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Image of the shade</label>
                <div class="col-sm-10">
                  <img src="/assets/img/img.jpg" class="img-fluid">
                </div>
              </div>
<!-- COLORCODE -->
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Color code</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="colorCode" id="default-value" class="form-control demo"
                  [ngClass]="{ 'is-invalid': submitted && f.colorCode.errors }" #colshadecode>
                  <!-- <div *ngIf="submitted && f.colorCode.errors" class="invalid-feedback">
                    <div *ngIf="f.colorCode.errors.required">It is required</div>
                  </div> -->
                </div>
              </div>
            </form>
<!-- BUTTON -->
            <div class="row">
              <div class="col-sm-2">&nbsp;</div>
              <div class="text-left col-sm-10">
                <button (click)="addColorShades(colorid.value,shadename.value,colshadecode.value)" type="submit" class="tabledit-edit-button btn btn-primary waves-effect waves-light"
                  style="float: none;">Add Color Shade</button>
                <button type="button"
                  class="tabledit-edit-button btn btn-secondry waves-effect waves-light waves-effect"
                  style="float: none;">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="default-Modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Static Modal</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem impus dolorsit.onsectetur adipiscing</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Save changes</button>
      </div>
    </div>
  </div>
</div>