<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box">
  </div>
  <div class="pcoded-container navbar-wrapper">

    <div class="pcoded-content">
      <div class="page-header card">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="page-header-title">
              <div class="d-inline">
                <h5>Color
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="page-header-breadcrumb">
              <ul class=" breadcrumb breadcrumb-title">
                <li class="breadcrumb-item">
                  <a routerLink='/dashboard'>
                    <i class="feather icon-home">
                    </i>
                  </a>
                </li>
                <li class="breadcrumb-item">
                  <a routerLink='/color'>Color
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-header card">
        <div class="">

          <div class="card">

            <div class="text-right padding">
              <a routerLink='/color/addcolor'>
                <button class="btn waves-effect waves-light btn-warning btn-square">Add Color
                </button>
              </a>
            </div>
            <div class="card-block" id="tableimg">
              <div class="dt-responsive table-responsive">
                <table id="multi-colum-dt" class="table table-striped table-bordered nowrap">
                  <thead>
                    <tr>
                      <!-- <th>Id</th> -->
                      <th>Name</th>
                      <th>Image</th>
                      <th>ColorCode</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let colors of colorsdata">
                      <!-- <td>{{colors._id}}</td> -->
                      <td>{{colors.name}}
                      </td>
                      <!-- to style the background color as per the colorcode                       -->
                      <td [style.backgroundColor]="colors.colorCode"></td>

                      <td>{{colors.colorCode}}
                      </td>
                      <td>
                        <button type="button" routerLink='/color/edit/{{colors._id}}'
                          class="tabledit-edit-button btn btn-primary waves-effect waves-light" style="float: none;">
                          <span class="icofont icofont-ui-edit">
                          </span>
                        </button>
                        <button type="button" (click)="deleteColorId(colors._id)"
                          class="tabledit-edit-button btn btn-primary waves-effect waves-light waves-effect"
                          style="float: none;" data-toggle="modal" data-target="#default-Modal">
                          <i class="icofont icofont-ui-delete">
                          </i>
                        </button>
                        <button routerLink='{{colors._id}}'
                          class="tabledit-edit-button btn btn-primary waves-effect waves-light waves-effect"
                          style="float: none;">
                          Shades
                        </button>

                        <div class="modal fade" id="default-Modal" tabindex="-1" role="dialog">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                              </div>
                              <div class="modal-body text-center">
                                <h4>Do you want to delete?
                                </h4>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">No
                                </button>
                                <button type="button" (click)="deleteColor()" data-dismiss="modal"
                                  class="btn btn-primary waves-effect waves-light ">Yes
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="default-Modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×
          </span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Static Modal
        </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem impus dolorsit.onsectetur adipiscing
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close
        </button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Save changes
        </button>
      </div>
    </div>
  </div>
</div> -->