<!-- 
<app-login></app-login> -->
<!-- <app-dashboard></app-dashboard> -->

<!-- <app-dealer-enquiries></app-dealer-enquiries> -->
<!-- <app-enquiries></app-enquiries> -->
<!-- <app-service-request></app-service-request> -->
<!-- <app-color></app-color> -->
<!-- <app-color-shade></app-color-shade> -->
<!-- <app-cms-pages></app-cms-pages> -->
<!-- <app-addcolor></app-addcolor> -->
<!-- <app-add-color-shade></app-add-color-shade> -->
<router-outlet></router-outlet>