<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box">
    </div>
  <!-- TOP NAVBAR -->
    <div class="pcoded-container navbar-wrapper">
      <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">
          <div class="navbar-logo">
            <a routerLink='/dashboard'>
              <img src="assets/img/logo.png" class="img_logo" style="width: 150px; height: auto;" />
            </a>
          </div>
          <div class="navbar-container container-fluid">
            <ul class="nav-left">
              <li class="header-search">
                 
              </li>
            </ul>
            <!-- <div class="search">
              Search:
              <input type="text" [(ngModel)]="queryString" placeholder="Search Employee">
            </div> -->
            <ul class="nav-right">
              <li class="user-profile header-notification">
                <div class="dropdown-primary dropdown">
                  <div class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user" aria-hidden="true"></i> Profile
                    <i class="feather icon-chevron-down"></i>
                  </div>
                  <ul class=" profile-notification  dropdown-menu">
                    <li>
                      <a routerLink='/changepassword'>
                        <i class="feather icon-settings">
                        </i> Change Password
                      </a>
                    </li>
                    <li>
                      <a routerLink='login' class="waves-effect waves-light" style="float: none;" data-toggle="modal" data-target="#Logout">
                        <i class="feather icon-user"> </i>
                        Logout
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
  <!-- SIDE NAVBAR -->
      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          <nav class="pcoded-navbar">
            <div class="nav-list">
              <div class="pcoded-inner-navbar main-menu">
                <ul class="pcoded-item pcoded-left-item">
  
                  <li class="pcoded-hasmenu active">
                    <a routerLink='/dashboard'>
                      <span class="pcoded-micon">
                      </span>
                      <span class="pcoded-mtext">Dashboard
                      </span>
                    </a>
                  </li>
                  <li class="pcoded-hasmenu ">
                    <a routerLink='/customerdetails'>
                      <span class="pcoded-micon">
                      </span>
                      <span class="pcoded-mtext">Customer Details
                      </span>
                    </a>
                  </li>
                  <li class="pcoded-hasmenu">
                    <a routerLink='/contactus'>
                      <span class="pcoded-micon">
                      </span>
                      <span class="pcoded-mtext">Contact Us
                      </span>
                    </a>
                  </li>
                  <li class="pcoded-hasmenu">
                    <a routerLink='/servicerequest'>
                      <span class="pcoded-micon">
                      </span>
                      <span class="pcoded-mtext">Service Requests
                      </span>
                    </a>
                  </li>
                  <li class="pcoded-hasmenu">
                    <a routerLink='/color'>
                      <span class="pcoded-micon">
                      </span>
                      <span class="pcoded-mtext">Color
                      </span>
                    </a>
                  </li>
                  <li class="pcoded-hasmenu">
                    <a routerLink='/colorshade'>
                      <span class="pcoded-micon">
                      </span>
                      <span class="pcoded-mtext">Color Shade
                      </span>
                    </a>
                  </li>
                  <li class="pcoded-hasmenu">
                      <a routerLink='/locatedealer'>
                        <span class="pcoded-micon">
                        </span>
                        <span class="pcoded-mtext">Locate Dealer
                        </span>
                      </a>
                    </li>
                  <li class="pcoded-hasmenu">
                    <a routerLink='/cmspages'>
                      <span class="pcoded-micon">
                      </span>
                      <span class="pcoded-mtext">CMS Pages
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Logout" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body text-center">
            <h4>Do you want to Logout?
            </h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">No
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-primary waves-effect waves-light" (click)="logout()">Yes
            </button>
          </div>
        </div>
      </div>
    </div>
